/* CSS属性书写顺序
 1.布局定位属性:disply/position/float/clear/visibility/overflow
 2.自身属性:width/height/margin/padding/border/background
 3.文本属性:color/font/text-decoration/text-align/vertical-align/white-space/break-word
 4.其他属性(CSS3):content/cursor/border-radius/box-shadow/text-shadow/background:linear-gradient... */
* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: black;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
    background-color: skyblue;
}

.search .input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid skyblue;
    border-right: none;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* 按钮默认有边框要去掉 */
    border: 0;
    background: url(images/btn.png);
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

.user img {
    vertical-align: middle;
}

.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(images/banner2_20190819_210028.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, .3);
}

.subnav ul li a {
    display: block;
    font-size: 14px;
    color: #fff;
}

.subnav ul li a:hover {
    color: #004aff;
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    /* li没有宽度，所以不会撑开 */
    padding: 0 20px;
}

.subnav ul li a span {
    float: right;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    /* 浮动的盒子不会有外边距合并的问题 */
    margin-top: 50px;
}

.course h2 {
    height: 48px;
    line-height: 48px;
    background-color: #9bceea;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.bd {
    padding: 0 20px;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid gray;
}

.bd a {
    display: block;
    margin: 5px;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 38px;
}

.goods {
    height: 60px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    color: #00a4ff;
    font-size: 16px;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;

}


.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods ul li a:hover {
    color: #00a4ff;
}

.goods .mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

.box-bd {
    height: 570px;
}

.box-bd ul {
    width: 1225px;
}

.box-bd ul li {
    /* 子绝父相 */
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fffa;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box-bd ul li:hover {
    position: relative;
    top: -10px;
}

.box-bd ul li em {
    position: absolute;
    top: 4px;
    right: -4px;
    width: 20px;
    height: 10px;
}

.box-bd ul li img {
    width: 100%;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd .info span {
    color: #ff7c2d;
}

.code {
    height: 60px;
    line-height: 60px;
    background-color: #f3f5f7;
}

.code h6 {
    float: left;
    font-size: 20px;
    color: #4a4a4a;
    margin-left: 25px;
}

.code .type ul {
    margin-left: 330px;
    float: left;
}

.code .type ul li {
    float: left;
}

.code .type ul li a {
    padding-right: 70px;
    color: #a5a5a5;
    font-size: 16px;
}

.code .type ul li a:hover {
    color: #00a4ff;
}

.code span {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.php {
    height: 395px;
    background-color: #f3f5f7;
}

.php .study {
    float: left;
    width: 230px;
}

.php .study img {
    width: 100%;
    height: 100%;
}

.php .python {
    width: 947px;
    height: 100px;
    float: right;
    margin-bottom: 20px;
}

.php .python img {
    width: 100%;
    height: 100%;
}

.php ul {
    float: left;
}

.php ul li {
    float: left;
    width: 220px;
    height: 275px;
    margin-left: 22.5px;
    background-color: #fff;
}

.php ul li img {
    width: 100%;
}

.php ul li h5 {
    margin: 25px 20px 0 25px;
    font-size: 14px；
}

.php ul li .more span {
    color: #ff7c2d;
    font-size: 12px;

}

.php ul li .more {
    margin: 20px 0 25px 25px;
    font-size: 12px;
    color: #b8b8b8;
}

.footer {
    height: 415px;
    background-color: #fff;
}

.footer .w {
    margin-top: 35px;
    padding-top: 35px;
}

.footer .copyright {
    float: left;
}

.footer .copyright P {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.footer .copyright a {
    display: block;
    width: 118px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
    border: 1px solid #00a4ff;
}

.footer .links {
    float: right;
}

.footer .links dl {
    float: left;
    margin-left: 100px;
}

.footer .links dl dt {
    font-size: 16px;
    columns: #333;
    margin-bottom: 5px;

}

.footer .links dl dd a {
    font-size: 12px;
    color: #333;
}

/* 思路
1，先确定版心（可视区）宽度
2.分析页面中的行模块，以及每个行模块中的列模块
3.列模块先确定大小 后确定位置
*/